<div class="container mt-4">
  <h2>Available Rooms</h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Location</th>
        <th>Feature</th>
        <th>Capacity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{ room.id }}</td>
        <td>{{ room.status }}</td>
        <td>{{ room.location }}</td>
        <td>{{ room.feature }}</td>
        <td>{{ room.capacity }}</td>
      </tr>
    </tbody>
  </table>
</div>
