<h2>Book Meeting</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <label>Title:</label>
  <input type="text" formControlName="title" class="form-control" required />

  <label>Description:</label>
  <textarea formControlName="description" class="form-control"></textarea>

  <label>Target Audience:</label>
  <input type="text" formControlName="target_audience" class="form-control" />

  <label>Date:</label>
  <input type="date" formControlName="date" class="form-control" required />

  <label>Duration (minutes):</label>
  <input type="number" formControlName="duration" class="form-control" required />
  <!-- inside book-meeting form -->

  <label>Time</label>
  <input type="time" class="form-control" formControlName="time">


  <label>Link (optional)</label>
  <input type="url" class="form-control" formControlName="link" placeholder="https://...">


  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Book</button>
</form>
