<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav>
  <a routerLink="/login">Login</a> |
  <a routerLink="/dashboard-admin">Admin Dashboard</a> |
  <a routerLink="/dashboard-guest">Guest Dashboard</a> |
  <a routerLink="/dashboard-employee">Employee Dashboard</a>
</nav>
<hr>
<router-outlet></router-outlet>
