<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-8">
      <div class="jumbotron">
        <h1 class="display-5">Welcome to YourCompany</h1>
        <p class="lead">Short description about the organization. This will be API-driven later.</p>
        <hr class="my-4">
        <a routerLink="/login" class="btn btn-primary mr-2">Login</a>
        <a routerLink="/contact" class="btn btn-outline-secondary">Contact</a>
      </div>
    </div>
  </div>
</div>
