<div class="container mt-4">
  <h4>Joined Meetings</h4>
  <div *ngIf="joinedMeetings.length; else noJoined">
    <ul class="list-group">
      <li
        *ngFor="let m of joinedMeetings"
        class="list-group-item d-flex justify-content-between"
      >
        {{ m.title }} - {{ m.date }}
        <a
          class="btn btn-sm btn-outline-primary"
          [routerLink]="['/emp/meetings', m.id]"
        >
          View
        </a>
      </li>
    </ul>
  </div>
  <ng-template #noJoined>
    <p class="text-muted">You haven't joined any meetings yet.</p>
  </ng-template>
</div>
