<div class="container-fluid">
  <h3>Joined Meetings</h3>

  <div *ngIf="loading">Loading...</div>

  <table *ngIf="!loading && joinedMeetings.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Organizer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meeting of joinedMeetings">
        <td>{{ meeting.title }}</td>
        <td>{{ meeting.date | date }}</td>
        <td>{{ meeting.start_time }} - {{ meeting.end_time }}</td>
        <td>{{ meeting.organizer?.name }}</td>
        <td>
          <a [routerLink]="['/emp/meetings', meeting.id]" class="btn btn-sm btn-primary">View</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && joinedMeetings.length === 0" class="alert alert-info">
    You haven’t joined any meetings yet.
  </div>
</div>
